<div class="container">
  <div class="row">
    <form class="col-md-6 col-sm-8 col-xs-12 generate-password-form">
      <h1>Generate new password here</h1>
      <br>
      <h2 style="margin-left:20px;">Welcome, {{username}} !</h2>
      <br>
      <div class="form-group col-md-10">
        <label for="newPassword">Enter New Password:</label>
        <input type="password" class="form-control" name="newPassword" id="newPassword" [(ngModel)]="newPassword" placeholder="New Password">
      </div>
      <div class="form-group col-md-10">
        <label for="confirmPassword">Re-enter Password:</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password">
      </div>
      <div class="col-md-4 ">
        <button type="submit" (click)="validate();generatePassword()" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-4" *ngIf="loading">
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        /> Please wait !
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-10 alertMessage">
      <div *ngIf="message" class="alert-box" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'fail' }">{{message.resp}}</div>
    </div>
  </div>
</div>