<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 forgotpasswordform">
      <form id="forgotpasswordform">
        <h1>
          Forgot your password ?
        </h1>
        <h2>
          Let us help you
        </h2>
        <p id="para" style="margin-top:3%;">If you do not have an account,
          <a routerLink="/register">click here</a> to set up a new account. Type your user ID in the field below to recieve your verification e-mail.
        </p>
        <div class="col-md-8 form-group" style="margin-top:5%;">
          <label for="email">User e-mail ID:</label>
          <input type='email' name="email" id="email" [(ngModel)]='email' (blur)="validateEmail($event)" class="form-control" placeholder="E-mail ID" required>
        </div>
        <div class="col-sm-12 form-group">
          <button class="btn btn-primary" type="submit" (click)="onSubmit()">Send me my verification e-mail</button>
        </div>
      </form>
      <div class="col-md-4" *ngIf="loading">
        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        /> Please wait !
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-10 alertMessage">
      <div *ngIf="message" class="alert-box" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'fail' }">{{message.resp}}</div>
    </div>
  </div>
</div>